[Desktop Entry]
Comment[en_US]=
Comment=
Exec=/home/pomba/dotfiles/start_work.sh
GenericName[en_US]=
GenericName=
MimeType=
Name=StartWork
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
